body {
	font-family: Verdana, "Lucida Sans Unicode", sans-serif;
	text-align: center;
}
input {
	text-align: center;
	font-size: 100%;
	width: 45%;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	font-size: 250%;
}